<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/DevExpress Dark Style</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="localhost_zhendong_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=Qiao291633139; database=zhendong;persist security info=true;CharSet=utf8;" />
    <add name="localhost_zhendong_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=Qiao291633139; database=zhendong;persist security info=true;CharSet=utf8;" />
    <add name="localhost_zhendong_ConnectionNow" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=Qiao291633139; database=zhendong;persist security info=true;CharSet=utf8;" />
    <add name="localhost_zhendong_Connection 2" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=Qiao291633139; database=zhendong;persist security info=true;CharSet=utf8;" />
    <add name="Fengji.Properties.Settings.zhendong_dbConnectionString"
      connectionString="server=localhost;user id=root;password=qiao291633139;persistsecurityinfo=True;database=zhendong_db"
      providerName="MySql.Data.MySqlClient" />
    <add name="Fengji.Properties.Settings.zhendong_db_for_Form2"
      connectionString="server=localhost;user id=qjx;password=qiao291633139;persistsecurityinfo=True;database=zhendong_db"
      providerName="MySql.Data.MySqlClient" />
    <add name="mysql" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=qjx; password=qiao291633139; database=zhendong_db;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
